@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
}

body {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;


    border: 3px solid red;
}

.main div {
    flex: 1;


    border: 2px solid green;
}

header {
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}